<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#001737">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BARDAHL Ventas </title>

</head>

<body>
    <div class="contenedor">
        <div>
            <!-- partial:partials/_sidebar.html -->
            <aside>
                <ul>
                    <li>
                        <a style="white-space: normal;">

                            <div>
                                <div>
                                    <div>BALTAZAR MEDINA RAMIREZ</div>
                                    <div><span >[email]</span>
                                    </div>
                                    <div><small>VENDEDOR</small></div>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>Menu</li>
                    <li>
                        <a href="/"> <i class="fas fa-tachometer-alt mx-8"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="/clientes"> <i class="fas fa-id-card mx-8"></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a  href="/daily_report"> <i class="fas fa-file-alt mx-8"></i>
                            <span>Reportes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/daily_captures"> <i class="fas fa-clock mx-8"></i>
                            <span>Mi actividad</span>
                        </a>
                    </li>

                    <li>
                        <a><i class="fas fa-sign-out-alt mx-8"></i>
                            Salir
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <!-- partial:partials/_navbar.html -->
        <nav>
            <div>
                <a href="/"> <img width="32" src="/images/logo.svg" alt="logo" />
                </a> <a href="/">
                    <img src="/images/logo-mini.svg" alt="logo" />
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <a>
                            <i></i>
                        </a>
                        <div>
                            <a>
                                <i class="fas fa-sync mx-8"></i> App en línea
                            </a>
                        </div>
                    </li>
                    <li>
                        <a>
                            <i class="fas fa-user-circle" style="font-size: 2rem;"></i>
                            <!--<img class="img-xs rounded-circle" src="/images/faces/face3.jpg" alt="profile image">-->
                        </a>
                        <div>

                            <!-- <a class="dropdown-item py-16 " href="/profile/1/edit">
                                    <i class="fas fa-user mx-8"></i> Mi perfil
                                </a> -->

                            <a> <i class="fas fa-sign-out-alt mx-8"></i>
                                Salir
                            </a>
                        </div>
                    </li>
                </ul>
                <button >
                    <span><i class="fas fa-bars"></i></span>
                </button>
            </div>
        </nav>
        <!-- partial -->

    </div>
</body>

</html>
